  /*Reset*/
  *{
      margin: 0;
      padding: 0;
   }
   
   /*----Propiedades  header----*/
   /*---Version Mobile 576px---*/
   body .contenedorIndex{
      font-family: 'Roboto', sans-serif;
   }
   header{
      background-color: #A3E4D7;
      position: sticky;
      top: 0;
      z-index: 3 !important;
   }
   /*Propiedades del logo*/
   .propLogo{
      text-align: center;
   }
   .propLogo img{
      width: 35%;
   }
   /*animacion del logo*/
   .propLogo img:hover{
      transform: scale(1.025);
      transition: 0.5s;
   }
   /*Propiedades Navbar*/
   .menuHeader{
      display:inline-block;
      padding: 0.5rem;
   }
   /*animacion del menu*/
   .menuHeader ul li:hover{
      background-color:#27c1f5;
      border-radius: 1.1rem;
      transform: scale(1.3);
      transform: translate(0.1rem, 0.1rem);
      box-shadow: 3px 3px rgb(51, 51, 51);
      transition: 0.5s;
   }
   /* sobre escribo Prop. button nav*/
   .nav-link{
      padding: 0;
      margin: 0;
   }
   /*Propiedades Nav*/
   .contenedorNavbar li a{
      font-size: 1rem;
      font-weight: bold;
      background-color: white;
      color: rgb(85, 85, 219) !important;
      margin: 0.2rem;
      border-radius: 1rem;
      text-align: center;
   }
   /*carro de compras*/
   .headerChart{
      justify-content: center;
      align-items: center;
   }
   .headerChart img{
      width: 35px;
   }
   .contenedorNavbar .row{
      margin: 0;
      padding: 0;
   }
   /*----cierre del Header----*/
   /*---version Mobile 576px---*/

/*-------------------------------------*/
   
   /*----Propiedades Footer----*/
   /*---Version Mobile 576px---*/
   footer{
      background-color: rgb(128, 118, 118);
   }
   /*Propiedades de "C"*/
   .footerC{
      justify-content: center;
      padding-top: 0.5rem; 
      padding-bottom: 0.25rem;
   }
   /*tamano de imagen legal "C"*/
   .footerC img{
      width: 5%;
   }
   /*color & size*/
   .footerText h3{
      color: rgba(24, 23, 22, 0.904);
      font-size: 1rem;
      line-height: 0.75rem;
      text-align: center;
   }
   /* detalle de linea*/
   span{
      color: darkblue;
      font-weight: bolder;
   }
   /*ubicacionde redes sociales*/
   .footerRedes img{
      padding-bottom: 0.5rem;
   }
   /*Face & Instagram size*/
   .sideF, .sideI{
      width: 7.5%;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
   }
   /*Animacion logo Face*/
   .sideF:hover{
      transform: scale(1.2);
      transition: 0.5s;
   }
   /*Animacion Logo Inst*/
   .sideI:hover{
      transform: scale(1.2);
      transition: 0.5s;
   }
   /*----cierre Main-Footer----*/
   /*---version Mobile 576px---*/
   
/*-------------------------------------*/

   /*----Propiedades Main-index----*/
   /*---version Mobile 576px---*/
   .contMainIndex{
      background-image: url(../img/pared.jpg);
      background-size: cover;
   }
   /*Prop carrusel*/
   .contenedorCarrusel{
      max-height: 35%;
      max-width: 55%;
      margin: 0.75rem;
   }
   .contenedorCarrusel img{
      margin: 1rem 0rem;
      border: 0.5rem solid whitesmoke;
   }
   .carousel-indicators button{
      margin: 1rem;
   }
   .carousel-control-prev-icon, .carousel-control-next-icon{
      background-color: #777c818b;
   }
   .propSection1{
      margin-right: 0;
      padding-right: 0;
   }
   /*h1-h2-p*/
   .editHead{
      font-size: 2.25rem;
   }
   .editSubt{
      color:  #1c2833d8;
      font-size: 1.75rem;
   }
   .editP{
      color:  #1c2833d8;
      font-size: 0.75rem;
   }
   /*WS position fixed*/
   .editWs img{
      position: fixed;
      bottom: 7rem;
      right: 0;
      width: 20%;
   }
   /*Animacion en loop*/
   .wsAnime{
      animation-name: vive;
      animation-iteration-count: infinite;
      animation-duration: 5s;
   }
   @keyframes vive{
      0%{ transform: scale(1)}
      50%{ transform: scale(1.10)}
   }
   /*----cierre Main-index----*/
   /*---version Mobile 576px---*/

/*-------------------------------------*/
   
   /*----Propiedades Main-aboutUs----*/
   /*---Version Mobile 576px---*/
   .contMainAu{
      background-image: url(../img/index.fondo\ madera.jpg);
      background-size: cover;
      font-family: 'Roboto', sans-serif;
      color: #1C2833;
   }
   .section1Au, .section2Au{
      text-align: center;
   }
   .bioCorte{
      display: none;
   }
   .cardAu img{
      border-radius: 1rem;
   }
   .videoAu iframe{
      width: 100%;
      border: 1.5px solid black;
   }
   /*----cierre Main-About Us----*/
   /*---version Mobile 576px---*/
      
/*-------------------------------------*/

   /*----Propiedades  Main-FoodtoGo----*/
   /*---Version Mobile 576px---*/
   .contMainFtg{
      background-image: url(../img/pared.jpg);
      background-size: cover;
      font-family: 'Roboto', sans-serif;
      color: #1C2833;
   }
   /*titulo Ftg*/
   .tituloFtg h1{
      font-size: 2rem;
   }
   /*Prop Cards*/
   .ubicCard{
      justify-content: center;
   }
   .card{
      margin: 2rem;
      text-align: center;
      padding: 0;
   }
   .card img{
      border: 3.5px solid rgb(168, 164, 164);
   }
   .estiloCard{
      background-image: linear-gradient(to right, whitesmoke, rgb(183, 174, 174));
   }
   .card .btn:hover{
      transform: scale(1.1);
      box-shadow: 3px 3px #1C2833;
   }
   /*----cierre Main FoodtoGo----*/
   /*---version Mobile 576px---*/

/*-------------------------------------*/

   /*----Propiedades Main-Faqs----*/
   /*---Version Mobile 576px---*/
   .contMainFaqs{
      background-image: url(../img/philosophy\ \(2\).jpg);
      background-size: cover;
      font-family:'Roboto', sans-serif;
      color: #1C2833;
   }
   /*H1-H2*/
   .tituloFaqs{
      font-size: 5rem;
      background-color: rgba(245, 245, 245, 0.26);
   }
   .subFaqs{
      background-color: rgba(245, 245, 245, 0.26);
   }
   .section2{
      padding: 3rem;
   }
   /*Prop Acordion*/
   .estilosAcordion{
      background-color: rgba(214, 205, 205, 0.541);
   }
   .estiloTextoAcord{
      background-color:rgba(245, 245, 245, 0.356) !important;
      font-weight: bold;
   }

   /*----cierre Main-Faqs----*/
   /*---version Mobile 576px---*/

/*-------------------------------------*/

   /*----Propiedades Main-Contact Us----*/
   /*---Version Mobile 576px---*/
   .contenedorCu{
      background-image: url(../img/index.fondo\ madera.jpg);
      background-size: cover;
   } 
   .contSectionCu1 img{
      width: 10%;
   }
   .contSectionCu1 h3{
      font-size: 1rem;
   }
   .estilosForm{
      font-family:'Roboto', sans-serif;
      color: #1C2833;
      font-weight: bold;
      padding-left: 1rem;
   }
   .propBtnHome{
      padding: 0;
      margin: 0;
   }
   /*Animacion Botton back*/
   .backHomeCu img:hover{
      transform: scale(1.2);
   }
   .backHomeCu img{
      width: 15%;
      transition: 2s;
   }
   .backHomeCu p{
      color:rgb(53, 52, 52);
   }
   /*----cierre Main-Contact Us----*/
   /*---version Mobile 576px---*/

/*-----------------------------------------*/   

@media only screen and (min-width: 768px){

   /*----Propiedades  Header----*/
   /*---Todos los html---*/
   /*---version ipad/laptop 768px---*/
   
   /*Prop menu nuevo size*/
   .propLogo{
      text-align: left;
      margin-left: 5rem;
   }
   .propLogo img{
      width: 220px;
   }
   .contenedorNavbar{
      text-align: end;
   }
   .menuHeader{
      text-align: end;
   }
   .menuHeader li a{
      font-size: 1.25rem;
   }
   .headerChart img{
     width: 50px;
   }
   /*----Cierre  header----*/
   /*---version 768px---*/ 

   /*-------------------------------------*/

   /*----Propiedades  Footer----*/
   /*---todos los html---*/
   /*---version ipad/laptop 768px--*/ 

   /*prop Footer nuevo Size*/
   footer{
      height: 5rem;
      padding-top: 1rem;
   }
   .footerC{
      justify-content: center;
      align-items: center;
      padding: 0.25em;
   }
   .footerC img{
      width: 30px;
   }
   .footerText{
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .footerText h3{
      font-size: 1.5rem;
      }
   .footerRedes{
      justify-content: end;
      
      Padding: 0.25rem 0.15rem;
   }
   .footerRedes img{
      width: 50px;
   }
   /*----Cierre  Footer----*/
   /*---version 768px---*/

   /*-------------------------------------*/
      
   /*----Propiedades Main-Index----*/
   /*---version ipad/laptop 768px---*/
   .editHead{
      font-size: 4.5rem;
   }
   .editSubt{
      color:  #1c2833d8;
      font-size: 3rem;
   }
   .editP{
      color: #1c2833be;
      font-size: 1.5rem;
      font-weight: 900;
   }
   /*WS position fixed*/
   .editWs img{
      width: 15%;
   }
   /*----cierre Main-Index----*/
   /*---version 768px---*/

   /*-------------------------------------*/

   /*--Propiedades Main-About Us--*/
   /*---version ipad-laptop 768px---*/  
   .tituloAu{
      text-align: left !important;
      padding-left: 5rem !important;
   }   
   .section1Au, .section2Au{
      text-align: justify;
   }       
   .bioCorte{
      display: block;
      color: #1C2833;
   }        
   .section1Au img, .section2Au img{
      border-radius: 0.5rem;
   } 
   .philoP{
      font-size: 0.75rem;
   }
   /*----Cierre Main-About us----*/
   /*---version 768px--*/   

   /*-------------------------------------*/

   /*---Propiedades Main-FoodtoGo--*/
   /*---version ipad/laptop 768px---*/ 
   
   .tituloFtg{
      padding: 1rem 0 1.5rem 5rem;
      text-align: left;
      font-size: 4rem;
   }
   .tituloFtg h1{
      font-size: 3rem !important;
   }
   .card img{
      border: 1.5px solid white;
   }
  
    /*----Cierre Main-FoodtoGo----*/
   /*---version desktop 768px--*/ 

   /*-------------------------------------*/

   /*----Propiedades Main-Faqs----*/
   /*----version Desktop 768px-----*/
   .tituloFaqs{
      font-size: 7rem;
   }
   .estiloTextoAcord{
      font-size: 1.2rem;
   }
   /*----Cierre Main-Faqs----*/
   /*---version Desktop 768px--*/

   /*-------------------------------------*/

   /*---Propiedades Main-Contact Us---*/
   /*---Version desktop 768px---*/
   .contenedorCu{
      background-image: url(../img/index.fondo\ madera.jpg);
      background-size: cover;
   } 
   .contSectionCu1 img{
      width: 10%;
   }
   .contSectionCu1 h3{
      font-size: 1.5rem;
   }
   /*----Cierre Main-Contact Us----*/
   /*---version desktop 768---*/
   
}

      /*--No es magia es codigo--*/
      /*--Fede castro lo dijo--*/


 


               